a {
    text-decoration: none;
}

h2>a {
    color: black;
}

main {
    margin-top: 10.5em;
    background-color: #438d7f2f;
}

main>h2 {
    text-align: center;
    margin-bottom: 1em;
    padding-top: 1em;
    font-size: 35px;
}

main article a {
    color: white;
    text-shadow: 2px 2px #333;
    font-size: 25px;
    align-self: center;
    justify-self: center;
    text-align: center;
}

body>header a {
    color: white;
}

body>header>h1 a {
    font-size: 45px;
    font-family: Georgia, 'Times New Roman', Arial, sans-serif;
    font-style: italic;
}

body>header {
    padding: 1em;
    background-color: #438D80;
    color: white;
    text-align: center;
    position: fixed;
    top: 0;
    right: 0.5em;
    left: 0.5em;
}

#restaurants {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

#restaurants article {
    display: grid;
    justify-content: center;
}

#restaurants article * {
    grid-column-start: 1;
    grid-row-start: 1;
}

#restaurants article a {
    font-size: 30px;
}

img {
    display: flex;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

#menus {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

#menus article {
    display: grid;
    justify-content: center;
    width: 200px;
}

#menus article h3 {
    font-size: 20px;
    text-align: center;
}

#dishes span::after {
    content: " €";
}

button {
    background-color: #757474;
    transition-duration: 0.4s;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
}

button:hover {
    background-color: #979595;
    color: white;
}

#cartIcon {
    width: 6em;
    height: auto;
    position:fixed;
    bottom: 0.5em;
    right: 0.5em;
    filter: brightness(85%) sepia(60%);

}

#logo {
    width: 10em;
    height: auto;
    position: fixed;
    top: 0.05em;
    left: 1em;
}

footer {
    padding: 1em;
    margin-top: 1em;
    background-color: #438D80;
    color: white;
}