a {
    text-decoration: none;
}

h2>a {
    color: black;
}

main>h2 {
    text-align: center;
}

main article a {
    color: white;
    text-shadow: 2px 2px #333;
    font-size: 24px;
    align-self: center;
    justify-self: center;
    text-align: center;
}

body>header a {
    color: white;
}

body>header {
    padding: 1em;
    background-color: #438D80;
    color: white;
    text-align: center;
    position: fixed;
    top: 0;
    right: 10px;
    left: 10px;
}

main {
    margin-top: 170px;
}

#restaurants {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

#restaurants article {
    display: grid;
    width: 200px;
}

#restaurants article * {
    grid-column-start: 1;
    grid-row-start: 1;
}

#menus {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

#menus article {
    display: grid;
    justify-content: center;
    width: 200px;
}

#menus article h3 {
    font-size: 20px;
    text-align: center;
}

#dishes span::after {
    content: " €";
}

button {
    background-color: #757474;
    transition-duration: 0.4s;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
}

button:hover {
    background-color: #979595;
    color: white;
}

footer {
    padding: 1em;
    margin-top: 1em;
    background-color: #438D80;
    color: white;
}